.info-card{
  border:solid 1px black;
  height:250px;
  width:200px;
}

.product-card{
  border:solid 1px black;
  height: 250px;
  width:300px;
}

/* MODAL LOGIN START */
.loginContainer{
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.7)
}
.login-content{
  /*background: linear-gradient(to right, #f2f8f9 , #75d5ff);*/
  margin:20% auto;
  padding:20px;
  width:70%;
  height:10em;
  box-shadow:0 5px 8px 0 rgba(0,0,0,0.7);
  animation-name:loginopen;
  animation-duration:2s;
}

@keyframes loginopen{
  from{opacity: 0}
  to{opacity:1}
}
/* MODAL LOGIN END */

/* MODAL CONCACT US START */
.contactContainer{
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.7)
}
.contact-content{
  background-color:#f4f4f4;
  margin:20% auto;
  padding:20px;
  width:60%;
  height:35em;
  box-shadow:0 5px 8px 0 rgba(0,0,0,0.7);
  animation-name:modalopen;
  animation-duration:1s;
}
/* MODAL CONTACT US END */
